<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  Signed in as <%= current_user.name %>
  <%= link_to "Sign out", signout_path %>
  <h1>Timeline</h1>
  <form action="/tweets/create" id="tweet-form">
    <input type="text" name="tweet" placeholder="Compose New Tweet"/>
    <input type="submit" value="Tweet" />
  </form>
<% else %>
  <%= link_to "Sign in with Twitter", '/auth/twitter' %>
  <h1>Please login to see Timeline</h1>
<% end %>

<%= yield %>

</body>
</html>
